/* PARTIAL: PASSWORD FORM
-------------------------------------------- */

.vlt-post-password-form {
	max-width: 480px;
	padding: 50px 45px;
	text-align: center;
	background-color: map-get($colors, 'c2');

	i {
		font-size: 64px;
		color: map-get($colors, 'p2');
	}

}